.touch-circle,
.touch-circle-inner {
    position: absolute;
    touch-action: none;
    pointer-events: none;
}

.touch-circle.fixed {
    touch-action: all;
    pointer-events: all;
}

.touch-circle-parent {
    display: none;
    position: relative;
}


/* pointer: coarse aka we're on a mobile device with touch input */
@media (pointer: coarse) {
    .touch-circle-parent {
        display: block;
    }
}

/* things that should be changed / overwritten to fit the specific needs */

.touch-circle,
.touch-circle-inner {
    /* Style goes here*/
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.25);
}

.touch-circle {
    /* Style goes here*/
    width: 15vw;
}
.touch-circle-inner {
    /* Style goes here*/
    width: 10vw;
    left: 2.5vw;
    top: 2.5vw;
}

.touch-circle.fixed {
    bottom: 10vh;
    left: calc(50vw - 7.5vw);
}

.touch-circle.inactive {
    /* visibility: hidden; */
    /* DO NOT USE "display:none" to hide this element! */
    /* Style goes here*/
}

.touch-circle.active {
    /* Style goes here*/
}
.touch-circle.active .touch-circle-inner {
    /* Style goes here */
}
